/* ----- General ----- */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ----- VueParticles ----- */
.vue-particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1d1d1d;
}

/* --- VueTyper --- */
.vue-typer .custom.char.typed {
  color: #FFA500;
}

.vue-typer .custom.char.selected {
  background-color: #aaa;
}

.vue-typer .custom.caret {
  background-color: #fff;
}

/* ----- Navigation ----- */
nav {
  position: fixed;
  display: block;
  width: 60px;
  height: 100vh;
  background-color: #181818;
  text-align: center;
  z-index: 11;
}

nav .brand {
  font-size: 3rem;
  font-weight: 600;
  display: block;
  background-color: #171717;
}

nav .menu {
  display: block;
  margin-top: 5rem;
}

nav .menu a {
  display: block;
}

nav .menu a, nav .social a {
  color: #999;
  -webkit-transition: color 320ms ease-in;
  -moz-transition: color 320ms ease-in;
  -ms-transition: color 320ms ease-in;
  -o-transition: color 320ms ease-in;
  transition: color 320ms ease-in;
}

nav .social {
  position: absolute;
  bottom: 50px;
  left: 17px;
  z-index: 11;
}

nav .social a {
  display: block;
  margin-bottom: 15px;
}

nav .menu a:hover, nav .menu a.active, nav .social a:hover {
  color: #FFA500;
}

nav .social a svg {
  width: 20px;
}

nav .social a .linkedin-icon {
  width: 25px;
}

/* ----- Main Content ----- */
section {
  min-height: 100vh;
}

.main-container {
  max-width: 1140px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: transparent !important;
}

.main-title {
  min-height: 100vh;
  text-align: center;
  color: #fff;
  padding-top: 40vh;
}

.scrollactive-item {
  animation-duration: 2s;
  animation-iteration-count: initial;
}

.menu-icon-bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.180, 0.640, 0.320, 1);
}

.menu-icon-bounce i {
  color: #FFA500;
}

@keyframes bounce {
  0%   { transform: scale(1,.8)      translateY(0); }
  10%  { transform: scale(1.1,.8)   translateY(0); }
  30%  { transform: scale(.9,1)   translateY(-8px); }
  50%  { transform: scale(1.05,.85) translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}