/* ----- General ----- */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ----- Navigation ----- */
nav {
  position: fixed;
  display: block;
  width: 60px;
  height: 100vh;
  background-color: #000;
  border-right: 1px solid #161616;
  text-align: center;
  z-index: 11;
}

nav .brand {
  font-size: 3rem;
  font-weight: 600;
  display: block;
  background-color: #171717;
}

nav .menu {
  display: block;
  margin-top: 5rem;
}

nav .menu a {
  display: block;
}

nav .menu a, nav .social a {
  color: #999;
  -webkit-transition: color 320ms ease-in;
  -moz-transition: color 320ms ease-in;
  -ms-transition: color 320ms ease-in;
  -o-transition: color 320ms ease-in;
  transition: color 320ms ease-in;
}

nav .social {
  position: absolute;
  bottom: 50px;
  left: 17px;
}

nav .social a {
  display: block;
  margin-bottom: 15px;
}

nav .menu a:hover, nav .menu a.active, nav .social a:hover {
  color: #FFA500;
}

nav .social a svg {
  width: 20px;
}

nav .social a .linkedin-icon {
  width: 25px;
}

section {
  min-height: 100vh;
}

section:nth-child(odd) {
  background-color: #373737;
}

section:nth-child(even) {
  background-color: #444;
}

/* ----- Custom CSS ----- */
.vue-particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}

.main-container {
  width: 900px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: transparent !important;
}

.main-title {
  min-height: 100vh;
  text-align: center;
  color: #fff;
  padding-top: 40vh;
}

/* --- VueTyper --- */
.vue-typer .custom.char.typed {
  color: #FFA500;
}

.vue-typer .custom.char.selected {
  background-color: #aaa;
}

.vue-typer .custom.caret {
  background-color: #fff;
}