/* ----- General ----- */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ----- VueParticles ----- */
.vue-particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1d1d1d;
}

/* --- VueTyper --- */
.vue-typer .custom.char.typed {
  color: #FFA500;
}

.vue-typer .custom.char.selected {
  background-color: #aaa;
}

.vue-typer .custom.caret {
  background-color: #fff;
}

/* ----- Navigation ----- */
.main-nav {
  position: fixed;
  display: block;
  width: 60px;
  height: 100vh;
  background-color: #181818;
  text-align: center;
  z-index: 11;
}

@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
}

.main-nav .brand {
  display: block;
  position: relative;
  background-color: #101010;
  padding: 8px;
}

.main-nav .brand a {
  position: absolute;
  left: 20px;
  font-size: 35px;
  font-weight: 600;
  color: #999;
}

.main-nav .menu a {
  display: block;
}

.main-nav .social a {
  display: block;
  margin-bottom: 15px;
}

.main-nav .menu a, .main-nav .social a {
  color: #999;
  -webkit-transition: color 320ms ease-in;
  -moz-transition: color 320ms ease-in;
  -ms-transition: color 320ms ease-in;
  -o-transition: color 320ms ease-in;
  transition: color 320ms ease-in;
}

.main-nav .brand a:hover {
  color: #999;
  text-decoration: none;
  animation: flip 1s linear; 
}

@keyframes flip{
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.main-nav .menu {
  display: block;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.main-nav .social {
  position: absolute;
  bottom: 30px;
  left: 17px;
  z-index: 11;
}

.main-nav .menu a:hover, .main-nav .menu a.active, .main-nav .social a:hover {
  color: #FFA500;
}

.main-nav .social a svg {
  width: 15px;
}

.main-nav .social a .linkedin-icon {
  width: 20px;
}

.scrollactive-item {
  animation-duration: 2s;
  animation-iteration-count: initial;
}

.menu-icon-bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.180, 0.640, 0.320, 1);
}

.menu-icon-bounce i {
  color: #FFA500;
}

@keyframes bounce {
  0%   { transform: scale(1,.8)      translateY(0); }
  10%  { transform: scale(1.1,.8)   translateY(0); }
  30%  { transform: scale(.9,1)   translateY(-8px); }
  50%  { transform: scale(1.05,.85) translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

/* ----- Main Content ----- */
section {
  min-height: 100vh;
}

.main-container {
  max-width: 1140px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent !important;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }
}

.main-title {
  min-height: 100vh;
  text-align: center;
  color: #fff;
  padding-top: 40vh;
}

.section-container {
  color: #fff;
  padding: 40px;

  /* background: linear-gradient(to bottom, rgba(50,50,50,0.4), rgba(80,80,80,0.4));
  box-shadow: 0 5px 20px 1px #121212;
  border-radius: 15px; */
}

.section-container h2.section-title {
  position: relative;
  width: fit-content;
  text-align: center;
  cursor: default;
  color: #fff;
  padding: 16px 24px;
  margin: 0 auto 60px;
}

.section-container h2.section-title::before, .section-container h2.section-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid #FFA500;
  transition: width 1s, height 1s;
}
    
.section-container h2.section-title::before {
  border-width: 2px 0 0 2px;
  top: 5px;
  left: 5px;
}

.section-container h2.section-title::after {
  border-width: 0 2px 2px 0;
  right: 5px;
  bottom: 5px;
}

.section-container h2.section-title:hover::after, .section-container h2.section-title:hover::before {
  width: 30px;
  height: 30px;
}

/* --- TagCloud --- */
.tag-cloud {
  overflow: overlay;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .tag-cloud {
    transform: scale(0.7);
    margin: 50px auto;
  }
}

@media (max-width: 480px) {
  .tag-cloud {
    display: none;
  }
}

.tag-cloud a text {
  cursor: default;
  filter: invert(100%);
  color: #fff !important;
}

/* --- About Section --- */
.skill-container {
  text-align: center;
}

@media (max-width: 768px) {
  .skill-container {
    margin-bottom: 50px;
  }
}

.skill-container p {
  color: #fff;
}

.hex-wrap {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: default;
}

.animated.flip-in-x {
  animation: flipInX 0.75s ease both;
}

.hexagon {
  display: inline-block;
  width: calc(100% * 0.57735);
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #f9b945, #8b6317, #d66430);
  background-size: 400% 400%;
  animation: gradient 5s infinite linear;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hexagon::before {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(60deg);
  width: inherit;
}

.hexagon::after {
  background: inherit;
  content: "";
  height: inherit;
  position: absolute;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  top: 0;
  transform: rotateZ(-60deg);
  width: inherit;
}

.hexagon i {
  color: #fff;
  font-size: 44pt;
  left: 0;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 1;
}

.skill-title {
  font-size: 18pt;
  margin: 15px 0 10px;
}

.about-me {
  margin-top: 75px;
}

.personal-text {
  padding: 40px 20px 0;
}

.personal-text h2 {
  margin-bottom: 25px;
}

/* --- Contact Section --- */
.contact-form span {
  display: block;
  width: 510px;
  margin: 35px auto;
}

@media (max-width: 768px) {
  .contact-form {
    margin-bottom: 150px;
  }

  .contact-form span {
    width: 100%;
  }
}

.contact-form span::after {
  display: block;
  content: '';
  border-bottom: 2px solid #FFA500;  
  transform: scaleX(0);  
  transition: transform 450ms ease-in-out;
  transform-origin: 0% 50%;
  margin-top: -1px;
}

.contact-form span:hover::after{
  transform: scaleX(1);
}

.contact-form input, .contact-form textarea {
  display: block;
  width: 100%;
  height: 80px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #555;
}

.contact-form input:focus-visible, .contact-form textarea:focus-visible {
  outline: 0;
}

.contact-form button {
  display: block;
  font-size: 18px;
  color: #FFA500;
  background: transparent;
  border: none;
  border: 1px solid #FFA500;
  padding: 10px 30px;
  margin: 60px auto 0;
  transition: linear .2s;
}

.contact-form button:hover {
  color: #101010;
  background: #FFA500;
}

h5.email-sent {
  position: relative;
  width: fit-content;
  color: #4F8A10;
  background: #DFF2BF;
  border-radius: 5px;
  padding: 6px 15px 6px 50px;
  margin: 0 auto 30px;
}

h5.email-sent i {
  position: absolute;
  top: 3px;
  left: 12px;
  font-size: 30px;
  color: #e31b23;
}

h5.email-failed {
  position: relative;
  width: fit-content;
  color: #D8000C;
  background: #FFBABA;
  border-radius: 5px;
  padding: 6px 15px 6px 50px;
  margin: 0 auto 30px;
}

h5.email-failed i {
  position: absolute;
  top: 3px;
  left: 12px;
  font-size: 30px;
  color: #D8000C;
}

/* --- Mobile navigation --- */
.mobile-nav {
  display: none;
  position: fixed;
  width: 100%;
  background: #181818;
  z-index: 11;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
}

/* --- Mobile social-icons --- */
.section-container .social-mobile {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .section-container .social-mobile {
    display: block;
  }
}

.section-container .social-mobile .mobile-social-icons {
  position: relative;
  display: inline-block;
  width: 40px;
  margin: 0 20px;
}

.section-container .social-mobile .mobile-social-icons i {
  position: absolute;
  top: -30px;
  left: -4px;
  font-size: 50px;
}